In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import torch

:

:

In [ ]:
df = pd.read_csv('tweet.csv')
df.head()

,date,user,tweet,rt,fav,followers,verified
0,2022-07-11 22:59:23+00:00,uurnikbay__,Ben mart-nisan 2023 ayında #EREGL de 44 tl fi...,0,2,1,False
1,2022-07-11 22:57:45+00:00,uurnikbay__,#EREGL yaklaşık 4000 bin lotla\n#TURSG yaklaşı...,0,2,1,False
2,2022-07-11 22:57:25+00:00,bogachanbilge,"#sasa #bist fettöşçüler, bulaşıklığı olanlar, ...",7,274,19891,False
3,2022-07-11 22:50:36+00:00,bogachanbilge,#sasa #bist Muğla Sıtkı Koçman Üniv. Rektörlüğ...,1,66,19891,False
4,2022-07-11 22:40:20+00:00,bogachanbilge,#sasa #bist Dokuz Eylül Üniversitesi Rektörü h...,0,101,19891,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216526 entries, 0 to 216525
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       216526 non-null  object
 1   user       216526 non-null  object
 2   tweet      216526 non-null  object
 3   rt         216526 non-null  int64
 4   fav        216526 non-null  int64
 5   followers  216526 non-null  int64
 6   verified   216526 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 10.1+ MB

In [10]:
df['followers'].describe()

count    216526.000000
mean      11823.718958
std       40593.190177
min           0.000000
25%          91.000000
50%         560.000000
75%        4067.000000
max      965642.000000
Name: followers, dtype: float64

In [13]:
df['verified'].value_counts()

False    215031
True       1495
Name: verified, dtype: int64

In [14]:
df['fav'].describe()

count    216526.000000
mean         26.141045
std          98.225645
min           0.000000
25%           1.000000
50%           3.000000
75%          11.000000
max        5112.000000
Name: fav, dtype: float64

In [16]:
df2 = pd.read_csv('tweet_2.csv')
df2.head()

,date,user,tweet,rt,fav,followers,verified
0,2020-12-31 23:58:46+00:00,SessizBorsa,#EMKEL sermayesinin 6 katı kadar iş anlaşması ...,2,2,0,False
1,2020-12-31 23:28:27+00:00,formasyonavcisi,#XU100 \n#XU100 #XU030 #BIST100 #BIST30 https:...,0,0,264,False
2,2020-12-31 23:22:02+00:00,TraderKartal,#alark #gubrf #krdmd hep hayıflandım izlerken....,0,6,459,False
3,2020-12-31 23:16:29+00:00,TraderKartal,#sise #ttkom #oyakc ve #orge eklemek istedikle...,1,1,459,False
4,2020-12-31 23:13:21+00:00,TraderKartal,Borsada kazandıklarımla #petkm #tuprs #tavhl #...,0,8,459,False

In [18]:
df2['verified'].value_counts()

False    455355
True       4398
Name: verified, dtype: int64

In [19]:
df2['tweet'].head(10)

0    #EMKEL sermayesinin 6 katı kadar iş anlaşması ...
1    #XU100 \n#XU100 #XU030 #BIST100 #BIST30 https:...
2    #alark #gubrf #krdmd hep hayıflandım izlerken....
3    #sise #ttkom #oyakc ve #orge eklemek istedikle...
4    Borsada kazandıklarımla #petkm #tuprs #tavhl #...
5    #krdmd #f_kardmd0121 viop krdmd aylık ve günlü...
6    #THYAO #usdtry aylık baktığımızda izel çelik e...
7            %5 devam ✅ #vestl https://t.co/Zlla2hjlUm
8    30 ARALIK 2020 GÜNCEL TEKNİK ANALİZ YORUMLARI\...
9    #orge onemli olan  hisse popüler olmadan ele a...
Name: tweet, dtype: object

In [23]:
# where name is algorithmahmet
df2[df2['user'] == 'derinhisse'].values

array([['2020-06-30 19:42:05+00:00', 'derinhisse',
        'Açığa satış #bıst30 hisselerinde yeniden serbest. Haberi dikkatli okuyalım sadece 30 hissede serbest ! Açıkçılara hayırlı olsun . Sevinen de var üzülen de var ! Ben açık alış yada satıştan nefret eden bir yatırımcıyım. Umarım 30 hisseyle sınırlı kalır. https://t.co/Mnl2Zdd9T7',
        ..., 1473, 226405, False],
       ['2020-01-24 13:07:31+00:00', 'derinhisse',
        'https://t.co/zuenx1zFya  ülkemizin en büyük grubu #kchol dijital dönüşümü anlatmış. Şimdi soru şu; Tüm dünya ve ülkemiz şirketleri dijital dönüşüme yatırım yapıyorken hala efendim teknoloji şirketleri neden artıyormuş? Dönüşümü inşaat şirketlerimi yapacak? 😆😆😆',
        ..., 1831, 226403, False],
       ['2020-01-22 07:23:12+00:00', 'derinhisse',
        '#halkb son durum 👋👋👋👋👋 https://t.co/nUuSsp2yh4', ..., 1651,
        226403, False],
       ...,
       ['2019-01-05 16:27:50+00:00', 'derinhisse',
        'İğimiDün akşamki temettü konusunu okuyun #kozal https://t.co/BrBXxx4U2P',
        ..., 160, 226406, False],
       ['2019-01-04 23:22:24+00:00', 'derinhisse',
        'https://t.co/yqppuHvEh9  #thyoa  Gerçekten bu şirketle gurur duyuyorum yani bazen rakamların bile yetersiz kaldığı bir durum temel analizde.Tıpkı #ASELS  gibi.',
        ..., 199, 226406, False],
       ['2019-01-02 16:51:24+00:00', 'derinhisse',
        'Bu konu önemli es geçmeyin #ısctr #ıskur https://t.co/e5KqFd1Ykm',
        ..., 401, 226406, False]], dtype=object)

In [26]:
len(df2['user'].unique())

24799

In [27]:
len(df['user'].unique())

20832

In [28]:
10/13

0.7692307692307693

In [33]:
a = np.array([5,6])
b = np.array([10,5])
cos_sim = np.dot(a, b)/(np.linalg.norm(a)*np.linalg.norm(b))
cos_sim

0.9161573349021891

In [37]:
a = np.array([3,1])
b = np.array([5,6])
cos_sim = np.dot(a, b)/(np.linalg.norm(a)*np.linalg.norm(b))
cos_sim

0.8502651466878618

In [38]:
df.head()

,date,user,tweet,rt,fav,followers,verified
0,2022-07-11 22:59:23+00:00,uurnikbay__,Ben mart-nisan 2023 ayında #EREGL de 44 tl fi...,0,2,1,False
1,2022-07-11 22:57:45+00:00,uurnikbay__,#EREGL yaklaşık 4000 bin lotla\n#TURSG yaklaşı...,0,2,1,False
2,2022-07-11 22:57:25+00:00,bogachanbilge,"#sasa #bist fettöşçüler, bulaşıklığı olanlar, ...",7,274,19891,False
3,2022-07-11 22:50:36+00:00,bogachanbilge,#sasa #bist Muğla Sıtkı Koçman Üniv. Rektörlüğ...,1,66,19891,False
4,2022-07-11 22:40:20+00:00,bogachanbilge,#sasa #bist Dokuz Eylül Üniversitesi Rektörü h...,0,101,19891,False

In [39]:
# add empty categorical column to df named label categorical sentiment
df['label'] = ''

In [40]:
df.head()

,date,user,tweet,rt,fav,followers,verified,label
0,2022-07-11 22:59:23+00:00,uurnikbay__,Ben mart-nisan 2023 ayında #EREGL de 44 tl fi...,0,2,1,False,
1,2022-07-11 22:57:45+00:00,uurnikbay__,#EREGL yaklaşık 4000 bin lotla\n#TURSG yaklaşı...,0,2,1,False,
2,2022-07-11 22:57:25+00:00,bogachanbilge,"#sasa #bist fettöşçüler, bulaşıklığı olanlar, ...",7,274,19891,False,
3,2022-07-11 22:50:36+00:00,bogachanbilge,#sasa #bist Muğla Sıtkı Koçman Üniv. Rektörlüğ...,1,66,19891,False,
4,2022-07-11 22:40:20+00:00,bogachanbilge,#sasa #bist Dokuz Eylül Üniversitesi Rektörü h...,0,101,19891,False,

In [41]:
# write to csv file
df.to_csv('data.csv', index=False)

In [43]:
len(df[df['followers'] > 100000])

4694

In [44]:
new_df = df[df['followers'] > 100000]

In [45]:
new_df.head()

,date,user,tweet,rt,fav,followers,verified,label
43,2022-07-11 13:38:08+00:00,borsaparatic,Yıl 2020 Bist100 tarafında bilanço dönemi ve ...,17,180,220342,False,
132,2022-07-10 10:16:06+00:00,ibrahim___ethem,Bloomberg Businessweek’in 3 Temmuz tarihli öze...,20,343,136873,False,
156,2022-07-09 20:53:12+00:00,ASIM_YALCINKAYA,"en UCUZ #BIST 100 #hisse'leri\n#SAHOL 18,68&gt...",107,934,138759,False,
161,2022-07-09 19:44:59+00:00,ibrahim___ethem,Kısa notlarımı paylaşmaya başlıyorum.\nBayramd...,134,1529,136873,False,
192,2022-07-09 07:01:24+00:00,ibrahim___ethem,📍İstanbul Havalimanı dün tarihinin en yüksek u...,23,379,136873,False,

In [46]:
new_df.to_csv('data_2.csv', index=False)